<%- include('../partials/header.ejs')%>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                        <p>
                            <em> Submitted by :- <%= campground.author.username %></em>
                        </p>
                  <p class="card-text"><%= campground.description %></p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){  %>
                        <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <%  }  %>
                    <p class="float-right">9K Rs/Night</p>
                  
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new"> Add a Comment </a>
                </div>
                
                    <%  campground.comments.forEach(function(comment){ %>
                        <hr>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="float-right">10 days ago</span>
                        <p><%= comment.text %></p> 
                        
                        <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %> 
                        <a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit"class="btn btn-sm btn-warning float-right ">Edit</a>
                        <form class="delete-form float-right mr-1" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-sm btn-danger"value="Delete">
                        </form>
                        <% } %>
                    </div>
                </div>
                    <% })  %>
            </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs')%>

